<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codeby-{% block title %}онлайн-курсы{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/styles.css">
</head>
<body>
<main>
    {% block content %}
    <p>{{ message }}</p><br>

    <div class="course_container">
            <p>
                <a href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ course.get_absolute_url }}">
                {{ course.title }}
                </a>
            </p>

    </div>
</main>