<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Codeby - {% block title %}онлайн-курсы{% endblock %}</title>
    <link rel="stylesheet" href="static fontawesomefree/css/all.min.css">
</head>
<body>
<header>
    <nav class="header_container">
        <div class="logo_container">
            <a class="logo" href="{% url 'index' %}"><img src="{% static 'img/logo.png'%}" alt="Лого сайта"
                                                          title="Логотип сайта"></a>
            <div class="describer">
                <div class="title"><h2 translate="no">Codeby</h2></div>
                <div class="role">онлайн-курсы</div>
            </div>
        </div>
        <div class="auth_container">
            {% if user.is_authenticated %}
            <div class="profile">
                <div><a href="#">{{ user.last_name }} {{ user.first_name }}</a></div>
                <div class="submenu_profile" style="display: none;">
                    <div>
                        <p class="fa fa-sign-out"></p>
                        <a style="color: rgba(238, 68, 0.83)" href="{% url 'FontAwesomeIcon icon=fa-thin fa-circle-xmark' %}">Выход</a>
                    </div>
                </div>
            </div>
            <div><a href="{% url 'create' %}">Cоздать курс</a></div>
            {% else %}
            <div class="nav-toggle"><span></span></div>
            <div class="login"><a href="{% url 'login' %}" style="color: #000">Вход</a></div>
            <div class="register"><a href="{% url 'register' %}" style="color: #fff">Регистрация</a></div>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <div class="footer_continer">
        <div class="logo">
            <div class="copyright-mark">
                <p><img src="{% static 'img/logo.png' %}" alt="лого сайта" title="лого сайта"></p>
                <span class="title">Codeby</span><p>онлайн-курсы</p>
            </div>
            <div>&copy; {{ current_year }} Все права защищены </div>
        </div>
        <div class="privacy" ></div>
    </div>
</footer>
</body>
</html>